@use '../../index.scss' as *;

.cast-panel {
  position: relative;

  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  gap: 2vw;
  
  overflow-x: auto; // Permite rolagem horizontal
  overflow-y: hidden; // Impede rolagem vertical

  padding: 2vh 1vh;
}

.cast-panel_content {
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  gap: 2vw;
  overflow-x: auto; // Permite rolagem horizontal

  padding: 2vh 5vh 2vh 4vh;

  // Esconde a rolagem horizontal em telas de modo paisagem
  @media (orientation: landscape) {
    overflow: hidden;
  }
}

.cast-panel_navigate-btn--rgt, .cast-panel_navigate-btn--lft {
  cursor: pointer;

  background-color: $tertiary-color;
  border: none;
  color: $quaternary-color;

  font-size: 3vh; // Tamanho da fonte dos botões

  width: 4vh; // Largura dos botões
  position: absolute;
  top: 0;
  bottom: 0;
  
  // Ajuste da largura dos botões para telas em modo paisagem
  @media (orientation: landscape) {
    width: 6vh;
  }
}

.cast-panel_navigate-btn--lft {
  left: 0; // Posiciona o botão à esquerda
}

.cast-panel_navigate-btn--rgt {
  right: 0; // Posiciona o botão à direita
}

.cast-panel_navigate-btn--rgt:active,  .cast-panel_navigate-btn--lft:active {
  color: $quinary-color; // Altera a cor ao pressionar o botão
}

.cast-panel_navigate-btn--rgt:hover, .cast-panel_navigate-btn--lft:hover {
  @media (orientation: landscape) {
    color: $quinary-color; // Altera a cor ao passar o mouse sobre os botões
  }
}
